body {
    background: #2f2f2e;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}

#header {
    color: rgb(41, 206, 0);
    font-size: 12px;
}

#header span {
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#gameLog {
    color: white;
    display: inline-block;
    width: 200px;
    height: 545px;
    position: absolute;
    border: #2f2f2e;
    border-style: inset;
    border-color:darkgray;
    margin-left: 10px;
    background: black;
    padding: 4px;
    /* overflow-y: scroll; */
    resize: none;
}

.speech-bubble {
    position: absolute;
    background: #ffffff;
    border-radius: .4em;
    padding: 10px;
    z-index: 99999;
    display: none;
    max-width: 300px;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ffffff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}